body{
	text-align: center;
	font-family:"宋体";

}
#all{
	width:950px;
	height:787px;
	margin:auto;
	
}
#header{
	width:950px;
	height:155px;
	background:url(../img/banner.jpg);
	margin:auto;
	}
nav{
	background-image :url(../img/3.jpg);
	background-repeat: repeat-x;
	margin: 0px;
	height: 34px;
		


}
nav ul{
	padding-top:7px;
	padding-left: 0px;
	list-style-type:none;
	margin:0px;
	height: 27px;
	
}
nav ul li{
	display: inline;
	font-size: 14px;
}
.c1{
	padding: 0px 0px 0px 13px;
}
.c2{
	padding: 0px 0px 0px 26px;
}
.c3{
	padding: 0px 0px 0px 28px;
}
.c4{
	padding: 0px 0px 0px 29px;
}

.c5{
	padding: 0px 0px 0px 30px;
}
.c6{
	padding: 0px 0px 0px 30px;
}.c7{
	padding: 0px 0px 0px 30px;
}.c8{
	padding: 0px 0px 0px 30px;
}
.c9{
	padding: 0px 0px 0px 31px;
}
.c10{
	padding: 0px 11px 0px 30px;
}


nav ul li a{
	margin: 0px;
	color:white;
	border-bottom: none;
	border-top:none;
	font-weight: bold;
	text-decoration: none;
}
nav ul li a:hover{
	color:yellow;
}
td,th,img,body,table{
	margin: 0px;
	padding:0px;
}
td, th {
    display: table-cell;
    vertical-align: inherit;
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
#center{
margin: auto;
width: 950px;
		
	}
#left{
	float: left;
	width: 320px;
	height: 420px;
	margin-top: 20px;
	margin-left:3px;
	background: url(../img/4.jpg) no-repeat ;

}
#right{
	width:620px;
	float:left;
	margin-top:20px;
	height:420px;
}
			#right-1{
				width:460px;
				height:420px;
				float:left;
			}
			#right-1 a:link {
    FONT-SIZE: 14px;
    COLOR: #333333;
    LINE-HEIGHT: 26px;
    font-weight: normal;
    TEXT-DECORATION: none;
}
				#right-1-top{
					width:420px;
					margin-right:15px;
					margin-left:28px;
					height:195px;
					background-image:url(../img/bj01.jpg);
				}
				#right-1-bottom {
    				width: 420px;
   					margin-right: 15px;
   					margin-left: 28px;
    				margin-top: 15px;
   					height: 195px;
    				background-image: url(../img/bj01.jpg);
}				#right-2-top {
					font-size:12px;
				    width: 144px;
				    height: 247px;
				    margin-right:-2px;
				    border: 2px solid #91B367;
				    float: right;
}
					#right-2-top a{
						text-decoration: none;
						color:black;
					}
					#right-2-top a:hover{color:red;}
					#right-2-bottom {
						float: right;
					    width: 144px;
					    margin-right: 2px;
					    margin-top: 3px;
					}
					#lianjie1 {
						width: 144;
						height: 26;
						    margin-top: 1px;
						}
						#lianjie2{
							width: 144;
						height: 26;
						    margin-top: 3px;
						}
						#lianjie3{
							width: 144;
						height: 26;
						    margin-top: 3px;
						}
						#lianjie4{
							width: 144;
						height: 26;
						    margin-top: 3px;
						}
					.search{
					
					width:140px;
					height:25px;
					border:1px solid #ffffff;
					}
					.search .search2{
						border:none;
					width: 19px;
					background:url(../img/sou.jpg) no-repeat center;
					float:left;
					display: inline;
					cursor: pointer;
					}
					.search input {
						margin-top:5px;
					    width: 115px;
					    height: 22px;
					    padding: 0px;
					    
					    line-height: 23px;
					    background: none;
					    display: inline;
					    float: left;}
					    input#keyword {
							    width: 115px !important;
							    border: 1px solid #CCCCCC;
							}
							select {
							    width: 149px !important;
							    height: 26px;
							    line-height: 26px;
							}
#all #footer table tr td {
    font-size: 13px;
    line-height: 1.5em;
}
#all #footer table tr td p{
	display: block;
}
#all #footer table tr td img{
	padding=0px;
	margin:5px 0px 0px 0px;
	float: right;
}
						
				table{
					border-collapse: collapse;
					border-top-width: 0px;
					border-right-width: 0px;
					border-bottom-width: 0px;
					border-left-width: 0px;
					border-spacing: 0px;
					display:table;
					border-color:gray;
				}
					table#t1{
						width: 100%;
					    }
					table#t2{
						width: 400px;  
					}

	    			table#t3{
						width: 100%;
					    }
	    #tonggao a:hover{color:red;}
		#teng a:hover{color:red;}
