html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0;  font-family:arial; }
fieldset, img,input,button{ border:none; padding:0;margin:0;outline-style:none; }
select {border:1px solid #ccc;outline-style:none; }
ul, ol { list-style:none; }
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*防止拖动*/
img {border:0;	vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙*/
table { border-collapse:collapse; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
.clearfix:before,.clearfix:after {
    content:"";
    display:table;
}
.clearfix:after{clear:both;}
.clearfix{
    *zoom:1;/*IE/7/6*/
}
 
body{
	background: url(../images/bg.png) repeat-x;
}

#top{
	width:960px;
	margin:0 auto;
}
.header{
	width:960px;
	margin:0 auto;
}
.header .menu{
	height: 30px;
	padding-left:1px;
	float:left;/**这个要下 不然width就960px**/
}
.header .menu li{
	height:30px;
	padding: 0 14px;
	float:left;
	position:relative;
}
.header .menu li a{
	 color:#c0c0c0;
	 line-height: 30px;
}
.header .menu li a:hover{
	color:#fff;
}
.header .menu li span{
	position: absolute;
	width:3px;
	height:3px;
	background: url(../images/top.png) no-repeat -11px -2px;
	left:0;
	top:15px;
}
.header .menu .no-dot{
	padding:0 14px 0 0;
}
.header .bar{
	height:30px;
	float:right;
	color:#fff;
}
.header .bar li{
	height:30px;
    float: left;
    line-height: 30px;
    text-align: center;
    position: relative;
}
.header li.phone,.header li.help
{
	padding:0 36px 0 28px;
}
.header li.help{
	padding-left: 38px;
}
.header li span{
	position: absolute;
	height:22px;
	left:0;
    top:5px;
    background: url(../images/top.png) no-repeat;
}
.header li.phone span{
	position: absolute;
	width:17px;
    background-position: -8px -15px;
    left:0;
    top:3px;
}
.header li.help span
{
	width:30px;
    background-position: -3px -59px;
}
.header li i{
	padding-right: 12px;
}


.logo{
	width:960px;
	margin:0 auto;
	position: relative;
	height:100px;
}
.logo .shopping{
	width:260px;
	height:100px;
	position: relative;
	float:left;
}
.shopping span{
	position: absolute;
	width:62px;
	height:84px;
	margin-left: 9px;
	background: url(../images/shopping_con.png) no-repeat -6px -7px;
}
.shopping p{
	color:#fff;	
	padding:22px 0 1px 83px;
}
.logo .search{
	position: absolute;
	left:92px;
	top:53px;
	width:114px;
	height:23px;
	font-size: 15px;
	background: url(../images/shopping_con.png) no-repeat 0 -100px;
    text-align: center;
    padding-top:2px;
}
.logo .search a:hover{
	color:#fff;
}
.logo .search a{
	color:#ffc200;
}
.logo h1{
	margin-left:60px;
	float: left;
	padding-top: 1px;

}
.bigsearch{
	position: absolute;
	height:54px;
	width:240px;
	left:640px;
    float:right;
    top:50%;
    margin-top: -15px;
    /**定位的盒子父盒子 记得给宽高不然参照点就没了父盒子00就相当于不存在**/
}
.bigsearch .text{
	width:272px;
	height:31px;
	padding-left: 12px;
	background: url(../images/search_bg.png) no-repeat 0 -54px;
    border:none;
    position: absolute;
    left:0;
    margin-left: 8px;
}
.bigsearch .btn{
	width:43px;
	height:32px;
    background: url(../images/search_bg.png) no-repeat -98px 0;
    border:none;
    position: absolute;
    left:280px;
}

#nav {
    width:960px;
	height:44px;
	margin: 0 auto;
}
#nav dl{
	width:960px;
	height:28px;
}

#nav dd{
	margin-top: 8px;
	height:28px;
	float:left;
	text-align: center;
	line-height: 28px;
    color:#fff;
    margin-left: 10px;
}
#nav dd a{
	font-size: 16px;
	float:left;
	color:#fff;
}
#nav strong{
	float:left;
	height:28px;
}
#nav span{
	float:left;
	padding:0 16px;
	height:28px;
}
/***strong控制右圆角 span 控制左圆角 a控制中间****/
#nav .current a,#nav a:hover{
	background: url(../images/nav_active_bg.png) repeat-x 0 -56px;
}

#nav .current strong,#nav a:hover strong{
	background: url(../images/nav_active_bg.png) no-repeat;

}
#nav .current span,#nav a:hover span{
   background: url(../images/nav_active_bg.png) no-repeat right -28px;
}



#content{
	width:1000px;
	margin:0 auto;
	background: url(../images/content_bg.gif) repeat-y -1000px 0;
	margin-top: 24px;
}
#content .content_top{
	width:1000px;
	margin:0 auto;
	background: url(../images/content_bg.gif) no-repeat;
	padding-top: 14px;
}
#content .content_bottom{
	width:1000px;
	background: url(../images/content_bg.gif) no-repeat -2000px bottom;
}
#content .banner{
	margin:0px auto;
	width:940px;
	height:300px;
	overflow: hidden;
	position: relative;
}
#content .banner ul{
   width:1880px;
   height:300px;
   position: relative;
}
#content .banner li{
	width:940px;
	height:300px;
	position: absolute;
	left:0;
	top:0;
	opacity: 0;
}
#slider_ctrl{
	display: none;

}
#slider_ctrl span{
	position: absolute;
	width:75px;
	height:150px;
	top:50%;
	margin-top: -42px;
	cursor:pointer;
}
#slider_ctrl .prev{
	background:url(../images/banner/prev.png) no-repeat;
	left:0;
}

#slider_ctrl .next{
	background:url(../images/banner/next.png) no-repeat;
	right:0;
}
.word{
	height:48px;
	width:940px;
	margin:0 auto;
	background-color: #2a2c23;
	position: relative;
	z-index: 3;
}
.word h1{
	float:left;
	color:#ffc600;
	padding:6px 32px 0 36px;
}
.word p{
	font-size: 13px;
	color:#ffcccc;
	padding-top:8px;
}
.main{
	width:960px;
	margin:0 auto;
	padding:32px 0 0 14px;
}
.main_left{
	float:left;
}
.module_menu h2{
	width:209px;
	height:29px;
	background:url(../images/list_bg.png) repeat-x 0 -29px;
	font-size: 15px;
	text-align: center;
	line-height: 28px;
	color:#fff;
}
.module_menu strong{
	display: block;
	height:29px;
	background:url(../images/list_bg.png) no-repeat;
}
 .module_menu span{
	display: block;
	height:29px;
	background:url(../images/list_bg.png) no-repeat right -59px
}

.module_menu .list{
	width:209px;
	background:url(../images/list_menu_bg.gif) repeat-y;
}
.module_menu .list ul{
	padding:0 8px;
    padding-bottom:16px; 
	background:url(../images/list_menu_bg.gif) no-repeat -212px bottom;
}

.module_menu .list li{
	height:30px;
	border-bottom:1px solid #fff;
	text-align: center;
	line-height: 30px;
}
.module_menu .list a{
	display: block;
	color:#434343;
	height:30px;
}
.module_menu .list a:hover{
	color:#b20e00;
}

.module_join{
	width:209px;
	margin-top: 28px;
	background:url(../images/list_menu_bg.gif) repeat-y -630px 0;
}
.module_join .join_t{
	width:209px;
	background:url(../images/list_menu_bg.gif) no-repeat -420px 0;
}
.module_join .join_d{
	    height:8px;/**设置背景记得给高不然不会显示 除非靠内容撑起来**/
	    width:209px;
		background:url(../images/list_menu_bg.gif) no-repeat -840px 0;
}
.join_t p{
	padding:20px 18px 18px 18px;
}
.join_t .text2{
      width:175px; 
      height:25px; 
      line-height:25px;
      background:#fff; 
      border:1px solid #fff; 
      border-top:1px solid #9c9c9c; 
      border-left:1px solid #c0c0c0; 
      margin-bottom:6px; 
      margin-left: 12px;
}
.join_t .btn{
	display: block;
	width:87px;
	height:25px;
	margin:0 auto;
	color:#fff;
	background:url(../images/shopping_con.png) no-repeat 0 -144px;
	cursor:pointer;
}
.contact{
	padding:14px 10px 0 10px;
}
.contact li{
	width:175px;
	height:44px;
	font-size:13px;
	border-top:1px solid #fff;
	line-height: 44px;
	text-align: center;
	position: relative;
	padding-left:20px;
}
.contact li a:hover{
	color:#b20e00;
}
.contact li i{
 position: absolute;
 width:34px;
 height:30px;
 background: url(../images/shopping_con.png) no-repeat 0 -179px;
 left:0;
 top:5px;
}
.pay{
	padding:28px 0 0 8px;
}
.main_right{
	float:right;
	margin-right: 10px;
	width:706px;
}
.sell ul{
	width:706px;
}
.sell ul li{
	float:left;
	margin-right:12px;
}
.sell .right{
	float: right;
}
.Sellshopping{
	margin:0 0 45px 0;
}
.Sellshopping h2{
	padding: 22px 0 6px 0;
}
.shopping ul{
	margin-top: 4px;
}
.Sellshopping li{
	width:154px;
	height:156px;
	float:left;
	font-size: 13px;
	margin-right:24px;
}
.Sellshopping li.right{
	float: right;
	margin-right:10px;
}
.Sellshopping li dt{
	margin-top: 8px;
	font-size: 15px;
}
.Sellshopping li dd{
	display: inline-block;
	color:#b20e00;
}

.lastNav{
   width:706px;
}
.lastNav ul{
	overflow: hidden;
	padding:20px 0 6px 160px;
	border-bottom:1px solid #ccc;

}
.lastNav li{
	float:left;
	margin-left:5px;

}
.lastNav li a{
	display: block;
	color:#b20e00;
    padding:4px 6px;

}
.lastNav li a:hover{
	display: block;
	color:#fff;
    background-color: #b20e00;
}

.scroll_wrap{
	margin-top: 10px;
	width:686px;
	height:196px;
    background: url(../images/scroll_bg.gif) repeat-x 0 -485px;
}
.scroll_wrap .scroll_wrap_left{
	height:196px;
	background: url(../images/scroll_bg.gif) no-repeat 0px -93px;
}
.scroll_wrap_left .scroll_wrap_right{
	height:196px;
	background: url(../images/scroll_bg.gif) no-repeat right -289px;
	position: relative;
}/****三个div来做背景图图片****/

.scroll_list h2{
	font-size: 18px;
	padding:20px 0 10px 10px;
}
#slider_wrap{
  height:136px;
  padding:22px 0 0 0;
  overflow: hidden;

}
#slider_wrap li{
	width:149px;
	float:left;
	margin-left:60px;
}
#slider_wrap li p{
	font-size: 13px;
	padding:2px 0 0 2px;
}

#wrap_ctrl span{
	position: absolute;
	width:35px;
	height:42px;
	top:50%;
	margin-top:-30px;
	cursor:pointer;
}
#wrap_ctrl .left{
	left:0;
	background: url(../images/scroll_bg.gif) no-repeat;
}

#wrap_ctrl .right{
	right:0;
	background: url(../images/scroll_bg.gif) no-repeat 0 -42px;
}

#footer{
	margin:0 auto;
}
.footer_info{
	height:54px;
	background-color:#170200;
}
.info{
	width:960px;
	height:54px;
	margin:0 auto;
	padding-left:10px;
    position: relative;

}
.info p{
	width:280px;
	height:54px;
	float:left;
	position: relative;
	color:#fff;
	text-align: center;
	line-height: 54px;
	padding-left:20px;
	font-size: 13px;

}
.info em{
	 position: absolute;
     left:0;
     top:0;

}
.ico1 em{
     width:50px;
     height:48px;
     background: url(../images/footer_info.png) no-repeat -7px 0;
     margin-top:3px;

}
.info .ico2{
	padding-left:0;
}
.ico2 em{
	width:44px;
	height:34px;
	margin-top: 10px;
    background: url(../images/footer_info.png) no-repeat 0 -62px;

}
.footer_links{
		height:246px;
        background-color: #9e1603;
 }
.links{
	width:960px;
	height:246px;
	margin:0 auto;
	color:#fff;
	padding-left: 180px;
}

.links dl{
	float:left;
	padding:36px 80px 32px 4px;
}
.links dt{
	padding-bottom: 28px;
}
.links dd{
		padding-bottom: 6px;
}
.links dd a{
	color:#cfcfcf;
}
.links dd a:hover{
	color:#fff;
}